* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 416px;
  margin-left: auto;
  margin-right: auto;
}
.form {
  margin-top: 40px;
}
.form h2 {
  display: flex;
  justify-content: center;
}
.desing {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.user input {
  border: none;

  padding-top: 14px;
  padding-right: 228px;
  padding-bottom: 7px;
  padding-left: 22px;
  border: 2px solid #d9d9d9;
}
.user-foto {
  background-image: url("/images/user.jpg");
  background-repeat: no-repeat;
  background-position: left;
}
.emaill {
  background-image: url("/images/sms.jpg");
  background-repeat: no-repeat;
  background-position: left;
}
.email input {
  border: none;
  border-radius: 1px;
  padding-top: 14px;
  padding-right: 228px;
  padding-bottom: 7px;
  padding-left: 24px;
  border: 2px solid #d9d9d9;
}
.email {
  margin-top: 13px;
}
.passvord input {
  border: none;
  border-radius: 1px;
  padding-top: 14px;
  padding-right: 228px;
  padding-bottom: 7px;
  padding-left: 24px;
  border: 2px solid #d9d9d9;
}
.Password {
  background-image: url("/images/cluch.jpg");
  background-repeat: no-repeat;
  background-position: left;
}
.passvord {
  margin-top: 13px;
}
.Countr input {
  border: none;
  border-radius: 1px;
  padding-top: 14px;
  padding-right: 228px;
  padding-bottom: 7px;
  padding-left: 24px;
  border: 2px solid #d9d9d9;
}
.Country {
  background-image: url("/images/ceti.jpg");
  background-repeat: no-repeat;
  background-position: left;
}
.Countr {
  margin-top: 13px;
}
.level {
  margin-top: 13px;
}
.Gender{
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Gender input{
  border: none;
  border-radius: 1px;
  padding-top: 14px;
  padding-right: 51px;
  padding-bottom: 7px;
  padding-left: 19px;
  border: 2px solid  #5D5FEF;
  ;
  width: 113px;
height: 50px;
}
.level h3{
  color: #5D5FEF;
  

  
}
button{
  width: 428px;
height: 50px;
top: 788px;
left: 1122px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
background: #5D5FEF;
margin-top: 17px;
color: white;
cursor: pointer;
}
.desing h1{
  font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 72px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #5D5FEF;
cursor: pointer;

}
.form h1{

color: #5D5FEF;


}
.form h2{
  font-family: Poppins;
font-size: 32px;
font-weight: 500;
line-height: 48px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #1B1C37;

}